/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-search {
  width: 500px;
}

.home-search-text {
  text-align: center;
}

.full-width {
  width: 95%;
}

.mat-input-wrapper {
  width: 400px !important;
}

p{
  font-family: Roboto,"Helvetica Neue",sans-serif; 
}

h2{
  font-family: Roboto,"Helvetica Neue",sans-serif; 
}

.subtitle{
  font-size: 18px;
  font-weight: 300;
}