div.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url(../../../assets/img/default.jpg);
}

div.spacer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
}

.mat-form-field {
    padding: 0pt 5pt;
    flex-grow: 1;
}

.mat-flat-button {
    flex-grow: 1;
    margin: 2pt;
}

.mat-card-title {
    text-align: left;
}