<div id="home" [style.background-image]="'url('+imgUrl+')'">
  <mat-toolbar>
    <img id="flash_volunteer_logo" src={{flash_volunteer_logo}}>
    <span class="spacer"></span>
    <button mat-button (click)="go('login')">Log in</button>
    <button mat-button (click)="go('signin')">Sign up</button>
    <button mat-button (click)="go('organization')">Collaborate with us!</button>
  </mat-toolbar>
  <div id="banner">
    <app-home-search (out)="tets($event)"></app-home-search>
    <div id="more">
      <button mat-button (click)="scroll(target)"><i class='fa fa-angle-down' style='font-size:36px'></i></button>
    </div>
  </div>
</div>
<app-prizes id="prizes"></app-prizes>
