body {
  min-height: 100%;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/img/mozambique.jpg");
  background-size: cover;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  height: auto;
}

#flash_volunteer_logo {
  height: 70%;
}

mat-toolbar {
  background: transparent;
}

.spacer {
  flex: 1 1 auto;
}

#more {
  display: flex;
  justify-content: center;
}

app-home-search {
  padding-top: 60px;
  transform: translateX(-250px);
  display: flex;
  justify-content: center;
}

