<div class="upper-page">
  <div class="greetings">
    <p>
      Olá {{organizationName()}}, o que vamos fazer amanhã?
    </p>
  </div>
</div>
<div class="main-page">
  <div class="events">
    <p>Eventos:</p>
    <mat-tab-group>
      <mat-tab label="Em progresso">
        <app-event-card-organization *ngFor="let e of sortedEventsInProgress" [event]="e"> </app-event-card-organization>
      </mat-tab>
      <mat-tab label="Próximos">
        <app-event-card-organization *ngFor="let e of sortedEventsNew" [event]="e"> </app-event-card-organization>
      </mat-tab>
      <mat-tab label="Histórico">
        <app-event-card-organization *ngFor="let e of sortedEventsDone" [event]="e"> </app-event-card-organization>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="actions">
    <button mat-stroked-button>Editar perfil</button>
    <button mat-stroked-button>Criar evento</button>
  </div>
</div>