.upper-page {
  display: flex;
  justify-content: center;
}

.greetings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 12%;
}

.events {
  width: 70%;
}

.main-page {
  padding-top: 15pt;
  display: flex;
  justify-content: center;
}