<mat-card class="home-search">
  <div class="flex-container-column">
    <mat-card-title class="home-search-text">{{prompt_phrase}}</mat-card-title>
  </div>
  <mat-card-content>
    <div class="flex-container-column">
      <div class="form-container">
        <form [formGroup]="homeSearchForm">
          <mat-form-field class="form" appearance="outline">
            <mat-label>Where?</mat-label>
            <input type="text" matInput formControlName="cityName" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]='getCityNameFromJson(option)'>
                {{getCityNameFromJson(option)}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="do-button-container">
        <button mat-flat-button color="primary" (click)="near('all')" >See all!</button>
        <button mat-flat-button color="primary" (click)="go()" [disabled]="homeSearchForm.invalid">Do!</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
