.home-search {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
}

.form-container,
.home-search-text {
  display: flex;
  align-self: flex-start;
  width: 100%;
}

.do-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

form,
.mat-form-field {
  width:100%;
}

