<mat-card *ngIf="event !== null">
  <mat-card-header>
    <div mat-card-avatar class="avatar-ajudantes-remotos" *ngIf="event.organization === 'Ajudantes Remotos'"></div>
    <div mat-card-avatar class="avatar-ajudar-verdes" *ngIf="event.organization === 'Ajudar os Verdes'"></div>
    <div mat-card-avatar class="avatar-amigo-imaginario" *ngIf="event.organization === 'Amigo Imaginário'"></div>
    <div mat-card-avatar class="avatar-vida-abrigo" *ngIf="event.organization === 'Vida Tem Abrigo'"></div>
    <div mat-card-avatar class="avatar-tudo-novo" *ngIf="event.organization === 'É Tudo Novo'"></div>
    <div mat-card-avatar class="avatar-somos-amigos" *ngIf="event.organization === 'Somos Amigos'"></div>
    <mat-card-title>{{eventName}}</mat-card-title>
    <mat-card-subtitle>{{eventOrganization}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <p>Location: {{eventLocation}}</p>
      <p>{{eventDescription}}</p>

    </div>
    <div>
      <p> Start date: {{eventStartDate | date}} </p>
      <p> End date: {{eventEndDate | date}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions class="register-button">
    <button mat-stroked-button (click)="register()">Inscrever-me</button>
  </mat-card-actions>
</mat-card>
