<mat-card *ngIf="event !== null">
  <mat-card-header>
    <div mat-card-avatar class="example-avatar"></div>
    <mat-card-title>{{eventName}}</mat-card-title>
    <mat-card-subtitle>{{eventOrganization}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <p>{{eventDescription}}</p>
    </div>
    <div>
      <p>{{eventDate}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="register()">Inscrever-me</button>
  </mat-card-actions>
</mat-card>
