.example-avatar {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5b/Avatar_leaf.png');
  background-size: cover;
}

.avatar-ajudantes-remotos {
  background-image: url('https://static.thenounproject.com/png/492593-200.png');
  background-size: cover;
}

.avatar-ajudar-verdes {
  background-image: url('https://cdn3.iconfinder.com/data/icons/flat-icons-web/40/Tree_Alt-512.png');
  background-size: cover;
}

.avatar-amigo-imaginario {
  background-image: url('https://cdn0.iconfinder.com/data/icons/positive-character-traits-alphabet-f/282/positive-f014-512.png');
  background-size: cover;
}

.avatar-vida-abrigo {
  background-image: url('https://st4.depositphotos.com/4177785/20850/v/1600/depositphotos_208508288-stock-illustration-affordable-housing-color-icon-shelter.jpg');
  background-size: cover;
}

.avatar-tudo-novo {
  background-image: url('https://cdn0.iconfinder.com/data/icons/interface-set-vol-2/50/Menu_Options-2-512.png');
  background-size: cover;
}

.avatar-somos-amigos {
  background-image: url('https://static.thenounproject.com/png/172436-200.png');
  background-size: cover;
}

.register-button {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}