.example-avatar {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5b/Avatar_leaf.png');
  background-size: cover;
}

.register-button {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}