<div id="prizes">
  <mat-card class="prizes-card">
    <mat-card-header class="card-header-text">Help! Everyone wins!</mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"> -->
    <mat-divider class="card-divider-margin"></mat-divider>
    <mat-card-content class="card-content-spacing">
      By entering our volunteering program, not only will you be giving a helping hand, but will also get discounts is
      your favourite stores.
    </mat-card-content>

  </mat-card>
</div>