.prizes-content-box{
    justify-content: center;
}

.prizes-card {
    width: 50%;
    z-index: 2;
}

.center-elements{
    justify-content: center;
    align-items: center;
}

.card-header-text{
    font-size: 18pt;
}

.card-divider-margin{
    margin-top: 10px;
}

.card-content-spacing{
    
    padding-top: 20px;
}

#prizes {
    height: 100vh;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../assets/img/volunteer.jpg");
    background-size: cover;
  }