<mat-sidenav-container class="container-event-view">
  <mat-sidenav #sidenav opened mode="side" position="start">
    <mat-toolbar>
      <img id="flash_volunteer_logo" src={{flash_volunteer_logo}}>
    </mat-toolbar>
    <div class="select-category">
      <form [formGroup]="categoryForm">
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" (selectionChange)="sortByCategory()">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>


    <app-event-card *ngFor="let e of cityEvents" [event]="e"> </app-event-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button (click)="sidenav.toggle()" class="sidenav-toggle"><i class="fa fa-bars"></i></button>
    <app-city-view [events]="cityEvents"></app-city-view>
  </mat-sidenav-content>
</mat-sidenav-container>
