.container-event-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  position: absolute;
  left: 0;
  height: 100%;
  width: 30%;
}

.example-avatar {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5b/Avatar_leaf.png');
  background-size: cover;
}

.sidenav-toggle {
  position: absolute;
  z-index: 2;
}

.select-category{
  display: flex;
  justify-content: center;
}

app-city-view {
  z-index: 1;
}

.logo-button{
  height: 100%;
}

.center-toolbar{
  justify-content: center;
}

#flash_volunteer_logo {
  height: 70%;
}


